@charset "utf-8";

.parallax {
    height: 500px;
    background-image: url('media/Sem\ título.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; 
    justify-items: center; 
}

.jedi {
    grid-column: 1 / 2;
}

.republica {
    grid-column: 3 / 4;
}

.cronologia {
    grid-column: 5 / 6;
}

.rebelde {
    grid-column: 2/3;
}

.sith {
    grid-column: 4 / 5;
}